In [3]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_excel("Uppsala12M.xlsx")

In [5]:
df.head()

,Unnamed: 0,realtor house,realtor,address,housing form,housing type,rooms,square meters,building year,final price,asking price,square meter price,monthly fee,yearly maintenance
0,0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2 rum,"61,5 m²",1965,1 915 000 kr,1 930 000 kr,31 138 kr/m²,3 247 kr/mån,4 400 kr/år
1,1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1 rum,"45,8 m²",4 200 kr/år,2 800 000 kr,NaN,61 135 kr/m²,NaN,NaN
2,2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3 rum,83 m²,1968,2 050 000 kr,1 950 000 kr,24 699 kr/m²,4 855 kr/mån,5 100 kr/år
3,3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1 rum,31 m²,2015,1 800 000 kr,1 595 000 kr,58 065 kr/m²,1 590 kr/mån,4 200 kr/år
4,4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2 rum,"63,5 m²",1944,2 600 000 kr,2 600 000 kr,40 945 kr/m²,2 383 kr/mån,10 200 kr/år

In [7]:
df.columns

Index(['Unnamed: 0', 'realtor house', 'realtor', 'address', 'housing form',
       'housing type', 'rooms', 'square meters', 'building year',
       'final price', 'asking price', 'square meter price', 'monthly fee',
       'yearly maintenance'],
      dtype='object')

In [13]:
df = df.drop(df.columns[0], 1)

In [14]:
df.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,building year,final price,asking price,square meter price,monthly fee,yearly maintenance
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2 rum,"61,5 m²",1965,1 915 000 kr,1 930 000 kr,31 138 kr/m²,3 247 kr/mån,4 400 kr/år
1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1 rum,"45,8 m²",4 200 kr/år,2 800 000 kr,NaN,61 135 kr/m²,NaN,NaN
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3 rum,83 m²,1968,2 050 000 kr,1 950 000 kr,24 699 kr/m²,4 855 kr/mån,5 100 kr/år
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1 rum,31 m²,2015,1 800 000 kr,1 595 000 kr,58 065 kr/m²,1 590 kr/mån,4 200 kr/år
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2 rum,"63,5 m²",1944,2 600 000 kr,2 600 000 kr,40 945 kr/m²,2 383 kr/mån,10 200 kr/år

In [69]:
df_tmp = df['rooms'].str.replace(',', '.')

In [70]:
df_tmp.isna().sum()

0

In [71]:
df_tmp = pd.to_numeric(df_tmp.str.replace('rum', ''), errors = 'coerce')

In [72]:
df_bool = ~(df_tmp.isna())

In [73]:
df = df.loc[df_bool, :]

In [75]:
df['rooms'] = df_tmp.loc[df_bool]

In [80]:
df = df.drop(df.columns[0], axis=1)

In [81]:
df.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,building year,final price,asking price,square meter price,monthly fee,yearly maintenance
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2.0,"61,5 m²",1965,1 915 000 kr,1 930 000 kr,31 138 kr/m²,3 247 kr/mån,4 400 kr/år
1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1.0,"45,8 m²",4 200 kr/år,2 800 000 kr,NaN,61 135 kr/m²,NaN,NaN
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3.0,83 m²,1968,2 050 000 kr,1 950 000 kr,24 699 kr/m²,4 855 kr/mån,5 100 kr/år
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1.0,31 m²,2015,1 800 000 kr,1 595 000 kr,58 065 kr/m²,1 590 kr/mån,4 200 kr/år
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2.0,"63,5 m²",1944,2 600 000 kr,2 600 000 kr,40 945 kr/m²,2 383 kr/mån,10 200 kr/år

In [151]:
sqm = df['square meters']
sqm.iloc[520:530]

531       65 m²
532       89 m²
533       31 m²
534     53,5 m²
535       34 m²
536    1 842 m²
537     53,5 m²
538       93 m²
539       60 m²
540       48 m²
Name: square meters, dtype: object

In [160]:
sqm_modified = sqm.str.replace(' ', '')
sqm_modified_encoded  = sqm_modified.str.encode('ascii', "ignore")
sqm_modified = sqm_modified_encoded.str.decode('ascii')

531      65m
532      89m
533      31m
534    53,5m
535      34m
536    1842m
537    53,5m
538      93m
539      60m
540      48m
Name: square meters, dtype: object

In [161]:
sqm_modified = sqm_modified.str[:-1]
sqm_modified

0       61,5
1       45,8
2         83
3         31
4       63,5
        ...
2495      90
2496     115
2497      36
2498    37,6
2499      36
Name: square meters, Length: 2429, dtype: object

In [162]:
sqm_modified = sqm_modified.str.replace(',', '.')
sqm_modified

0       61.5
1       45.8
2         83
3         31
4       63.5
        ...
2495      90
2496     115
2497      36
2498    37.6
2499      36
Name: square meters, Length: 2429, dtype: object

In [163]:
sqm_modified_numeric = pd.to_numeric(sqm_modified, errors='coerce')
sqm_modified_numeric

0        61.5
1        45.8
2        83.0
3        31.0
4        63.5
        ...
2495     90.0
2496    115.0
2497     36.0
2498     37.6
2499     36.0
Name: square meters, Length: 2429, dtype: float64

In [164]:
sqm_modified_numeric.isna().sum()

0

In [165]:
df['square meters'] = sqm_modified_numeric

In [166]:
df.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,building year,final price,asking price,square meter price,monthly fee,yearly maintenance
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2.0,61.5,1965,1 915 000 kr,1 930 000 kr,31 138 kr/m²,3 247 kr/mån,4 400 kr/år
1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1.0,45.8,4 200 kr/år,2 800 000 kr,NaN,61 135 kr/m²,NaN,NaN
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3.0,83.0,1968,2 050 000 kr,1 950 000 kr,24 699 kr/m²,4 855 kr/mån,5 100 kr/år
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1.0,31.0,2015,1 800 000 kr,1 595 000 kr,58 065 kr/m²,1 590 kr/mån,4 200 kr/år
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2.0,63.5,1944,2 600 000 kr,2 600 000 kr,40 945 kr/m²,2 383 kr/mån,10 200 kr/år

In [174]:
asking_price = df['asking price']

In [175]:
asking_price = asking_price.str.replace(' ', '')
asking_price = pd.to_numeric(asking_price.str.replace('kr', ''), errors = 'coerce')
asking_price.head()

0    1930000.0
1          NaN
2    1950000.0
3    1595000.0
4    2600000.0
Name: asking price, dtype: float64

In [176]:
asking_price.isna().sum()

93

In [178]:
df['asking price'] = asking_price

In [180]:
final_price = df['final price']

In [181]:
final_price.head()

0    1 915 000 kr
1    2 800 000 kr
2    2 050 000 kr
3    1 800 000 kr
4    2 600 000 kr
Name: final price, dtype: object

In [182]:
final_price = final_price.str.replace(' ', '')

In [183]:
final_price = final_price.str.replace('kr', '')

In [184]:
final_price.head()

0    1915000
1    2800000
2    2050000
3    1800000
4    2600000
Name: final price, dtype: object

In [185]:
final_price = pd.to_numeric(final_price, errors='coerce')

In [186]:
final_price.isna().sum()

0

In [187]:
df['final price'] = final_price

In [188]:
df.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,building year,final price,asking price,square meter price,monthly fee,yearly maintenance
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2.0,61.5,1965,1915000,1930000.0,31 138 kr/m²,3 247 kr/mån,4 400 kr/år
1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1.0,45.8,4 200 kr/år,2800000,NaN,61 135 kr/m²,NaN,NaN
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3.0,83.0,1968,2050000,1950000.0,24 699 kr/m²,4 855 kr/mån,5 100 kr/år
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1.0,31.0,2015,1800000,1595000.0,58 065 kr/m²,1 590 kr/mån,4 200 kr/år
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2.0,63.5,1944,2600000,2600000.0,40 945 kr/m²,2 383 kr/mån,10 200 kr/år

In [189]:
df = df.drop(df.columns[-1], axis=1)

In [190]:
df.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,building year,final price,asking price,square meter price,monthly fee
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2.0,61.5,1965,1915000,1930000.0,31 138 kr/m²,3 247 kr/mån
1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1.0,45.8,4 200 kr/år,2800000,NaN,61 135 kr/m²,NaN
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3.0,83.0,1968,2050000,1950000.0,24 699 kr/m²,4 855 kr/mån
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1.0,31.0,2015,1800000,1595000.0,58 065 kr/m²,1 590 kr/mån
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2.0,63.5,1944,2600000,2600000.0,40 945 kr/m²,2 383 kr/mån

In [191]:
df = df.drop(df.columns[-1], axis=1)

In [192]:
df.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,building year,final price,asking price,square meter price
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2.0,61.5,1965,1915000,1930000.0,31 138 kr/m²
1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1.0,45.8,4 200 kr/år,2800000,NaN,61 135 kr/m²
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3.0,83.0,1968,2050000,1950000.0,24 699 kr/m²
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1.0,31.0,2015,1800000,1595000.0,58 065 kr/m²
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2.0,63.5,1944,2600000,2600000.0,40 945 kr/m²

In [193]:
df = df.drop(df.columns[-1], axis=1)

In [194]:
df.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,building year,final price,asking price
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2.0,61.5,1965,1915000,1930000.0
1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1.0,45.8,4 200 kr/år,2800000,NaN
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3.0,83.0,1968,2050000,1950000.0
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1.0,31.0,2015,1800000,1595000.0
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2.0,63.5,1944,2600000,2600000.0

In [195]:
df_final = df.drop(df.columns[-3], axis=1)

In [196]:
df_final.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,final price,asking price
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2.0,61.5,1915000,1930000.0
1,Fastighetsbyrån Uppsala,Lovisa Österberg,Frodegatan 5H,Lägenhet,Andel i bostadsförening,1.0,45.8,2800000,NaN
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3.0,83.0,2050000,1950000.0
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1.0,31.0,1800000,1595000.0
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2.0,63.5,2600000,2600000.0

In [199]:
for col in df_final.columns:
    print(col)
    print(df_final[col].isna().sum())

realtor house
60
realtor
60
address
0
housing form
0
housing type
0
rooms
0
square meters
0
final price
0
asking price
93

In [200]:
df_final_cleaned = df_final.dropna()

In [204]:
df_final_cleaned.head()

,realtor house,realtor,address,housing form,housing type,rooms,square meters,final price,asking price
0,Fastighetsbyrån Uppsala,Lovisa Österberg,Molngatan 25,Lägenhet,Bostadsrätt,2.0,61.5,1915000,1930000.0
2,Stad&Land,Anna Svensson,Ferlinsgatan 57,Lägenhet,Bostadsrätt,3.0,83.0,2050000,1950000.0
3,Bjurfors Uppsala,Cornelia Nilsson,Torgny Segerstedts allé 4,Lägenhet,Bostadsrätt,1.0,31.0,1800000,1595000.0
4,Notar,Damir Bicharov,Luthagsesplanaden 6A,Lägenhet,Bostadsrätt,2.0,63.5,2600000,2600000.0
5,Svensk Fastighetsförmedling Uppsala,Mathias Everhall,Knutby-Åsby 159,Villa,Äganderätt,5.0,156.0,3400000,3495000.0

In [208]:
df_final_cleaned['sqm price'] = df_final_cleaned['final price']/df_final_cleaned['square meters']

<ipython-input-208-2f8e391585f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_cleaned['sqm price'] = df_final_cleaned['final price']/df_final_cleaned['square meters']

In [211]:
df_final_cleaned.iloc[:, -1] = df_final_cleaned['sqm price'].round(decimals=0)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [213]:
df_final_cleaned['price increase'] = df_final_cleaned['final price'] - df_final_cleaned['asking price']

<ipython-input-213-c9aebb8c9425>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_cleaned['price increase'] = df_final_cleaned['final price'] - df_final_cleaned['asking price']

In [222]:
df_final_cleaned['% increase'] = (df_final_cleaned['final price'] / df_final_cleaned['asking price'] -1)*100

<ipython-input-222-fd90ddf93798>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_cleaned['% increase'] = (df_final_cleaned['final price'] / df_final_cleaned['asking price'] -1)*100

In [223]:
df_final_cleaned['% increase'] = df_final_cleaned['% increase'].round(decimals=1)

<ipython-input-223-c3bcff90bf4f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_cleaned['% increase'] = df_final_cleaned['% increase'].round(decimals=1)

In [225]:
df_final_cleaned.describe()

,rooms,square meters,final price,asking price,sqm price,price increase,% increase
count,2276.000000,2276.000000,2.276000e+03,2.276000e+03,2276.000000,2.276000e+03,2276.000000
mean,2.866213,74.298155,2.911041e+06,2.689680e+06,41697.135325,2.213609e+05,8.449692
std,1.629402,38.955355,1.627386e+06,1.512138e+06,13250.095949,3.308321e+05,10.811863
min,1.000000,14.000000,3.350000e+05,2.950000e+05,6103.000000,-4.000000e+06,-57.200000
25%,2.000000,46.000000,1.950000e+06,1.795000e+06,32454.500000,0.000000e+00,0.000000
50%,2.500000,66.000000,2.400000e+06,2.195000e+06,40534.000000,1.550000e+05,6.500000
75%,4.000000,91.500000,3.400000e+06,3.095000e+06,49384.750000,3.200000e+05,13.100000
max,12.000000,340.000000,1.510000e+07,1.475000e+07,96216.000000,2.850000e+06,178.500000

In [226]:
df_final_cleaned.to_excel('SalesCleaned12MUppsala.xlsx', index=False)

In [227]:
realtors = df_final_cleaned['realtor house'].unique()

In [236]:
num_sales = len(df_final_cleaned)

In [251]:
total_sales = df_final_cleaned['final price'].sum()
statistic_columns = ['realtor','sold homes', '% of sales', '% of sold homes', 'avg price development', 'average % development']

In [254]:
realtor_stats = pd.DataFrame(columns=statistic_columns)
for realtor in realtors:
    tmp_df = df_final_cleaned[df_final_cleaned['realtor house']==realtor]
    sold_homes = len(tmp_df)
    pct_sales = 100*tmp_df['final price'].sum()/total_sales
    pct_sold_homes = 100*sold_homes / num_sales
    avg_price_dev = tmp_df['price increase'].mean()
    avg_price_dev_pct = tmp_df['% increase'].mean()
    df_add = pd.DataFrame(data=[[realtor, sold_homes, pct_sales, pct_sold_homes, avg_price_dev, avg_price_dev_pct]], columns=statistic_columns)
    realtor_stats = realtor_stats.append(df_add, ignore_index = True)

In [256]:
realtor_stats = realtor_stats.sort_values(by=['realtor'])

In [257]:
realtor_stats

,realtor,sold homes,% of sales,% of sold homes,avg price development,average % development
28,AFI FastighetsMäklare,1,0.051317,0.043937,5000.000000,0.100000
17,Ambassadör Fastighetsmäkleri AB,2,0.082258,0.087873,280000.000000,8.850000
2,Bjurfors Uppsala,136,6.267725,5.975395,157316.176471,6.591176
21,Brege & Holm Fastighetsmäklare,2,0.049053,0.087873,127500.000000,8.450000
18,ERA Fyris Bostad,13,0.512563,0.571178,147692.307692,7.023077
22,Eklund Fastighetsmäkleri,5,0.318767,0.219684,621000.000000,16.640000
26,Eklund Stockholm New York,1,0.185646,0.043937,0.000000,0.000000
7,Erik Olsson Fastighetsförmedling,9,0.390686,0.395431,102777.777778,4.411111
0,Fastighetsbyrån Uppsala,204,7.850090,8.963093,168529.411765,7.534804
34,Fastighetsmäklarna,1,0.036978,0.043937,150000.000000,6.500000
27,GESON MÄKLARE,1,0.054335,0.043937,200000.000000,5.900000
32,Historiska Hem,1,0.143385,0.043937,0.000000,0.000000
30,Husaffären i Roslagen,1,0.035469,0.043937,50000.000000,2.200000
11,HusmanHagberg Uppsala,79,2.902636,3.471002,123037.974684,5.200000
20,Komplett Mäkleri i Sverige AB,4,0.222095,0.175747,447500.000000,11.100000
24,Leijonhufvud Fastighetsbyrå,5,0.248508,0.219684,212000.000000,5.780000
9,Länsförsäkringar Fastighetsförmedling Uppsala,231,11.791442,10.149385,294201.298701,9.324242
8,MOHV Uppsala,46,2.211144,2.021090,239130.434783,7.384783
19,Mäklare Kulling,18,0.732621,0.790861,178055.555556,6.938889
29,Mäklarhuset Gävle,2,0.080145,0.087873,280000.000000,11.700000
31,Mäklarhuset Spånga,1,0.031696,0.043937,305000.000000,17.000000
5,Mäklarhuset Uppsala,224,9.988213,9.841828,224361.607143,8.279464
16,Mäklarringen Uppsala,34,1.304137,1.493849,122823.529412,5.450000
13,Nestor Fastighetsmäkleri,1,0.016602,0.043937,0.000000,0.000000
3,Notar,334,13.612120,14.674868,253401.197605,10.376048
15,Return On Investment Fastighetsmäkleri AB,34,1.362231,1.493849,177205.882353,6.364706
12,Riksmäklaren,88,4.670495,3.866432,176136.363636,4.610227
14,SkandiaMäklarna Uppsala,106,4.190533,4.657293,203084.905660,8.224528
1,Stad&Land,6,0.231755,0.263620,401666.666667,13.233333
33,Stefan Blomdin,1,0.028677,0.043937,0.000000,0.000000
4,Svensk Fastighetsförmedling Uppsala,196,7.798697,8.611599,176147.959184,7.582653
10,Svenska Mäklarhuset Uppsala,108,4.764751,4.745167,184814.814815,8.904630
23,Urban by ESNY,3,0.164968,0.131810,563333.333333,13.766667
25,Widerlöv Stockholm,1,0.045883,0.043937,265000.000000,9.500000
6,Widerlöv Uppsala,377,17.622380,16.564148,276660.477454,10.116711

realtor_stats_json = realtor_stats.to_json('realtorstats.json',orient='record')

In [278]:
print(type(realtor_stats))

<class 'pandas.core.frame.DataFrame'>

In [280]:
import json

In [283]:
with open('realtorsdata_records.json', 'w') as f:
    json.dump(realtor_stats.to_dict(orient='records'), f)

In [284]:
realtor_stats.to_excel("realtor_sales_statistics.xlsx")